---
import { useDb } from "../db/db";

if (!useDb) throw new Error("db not connected");


// Working!
console.log('select all user (should work)', await useDb.select("user"))

// NOT WORKING
// console.log('select specific user should not work', useDb.select("user:123")); // getting RecordError: Record not found: user:123

// Use query builder
console.log('works using query', await useDb.query('SELECT * FROM user:123'))




---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
